In [2]:
import numpy as np,pandas as pd
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

exam_data=pd.DataFrame(exam_data)
exam_data=exam_data.set_index([labels])
print(exam_data.head(4),'\n')
exam_data=exam_data.dropna()
print(exam_data.iloc[:,0:2],'\n')
k= {'name': ['Suresh'],
'score': [15.5],
'attempts': [1],
'qualify': ['yes']}
k=pd.DataFrame(k)
exam_data=pd.concat([exam_data,k])
print(exam_data,'\n')
exam_data.drop("attempts",inplace=True,axis=1)
print(exam_data,'\n')
Score=exam_data['score']
Success=list()
for i in Score:
    if i>=10:
        Success.append(1)
    else:
        Success.append(0)
exam_data['Success']=Success
print(exam_data)
exam_data.to_csv('my_data.csv')
exam_data=pd.read_csv('my_data.csv')

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no

        name  score
a  Anastasia   12.5
b       Dima    9.0
c  Katherine   16.5
e      Emily    9.0
f    Michael   20.0
g    Matthew   14.5
i      Kevin    8.0
j      Jonas   19.0

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes
0     Suresh   15.5         1     yes

        name  score qualify
a  Anastasia   12.5     yes
b       Dima    9.0      no
c  Katherine   16.5     yes
e      Emily    9.0      no
f    Michael   20.0     yes
g    Matthew   14.5     yes
i      Kevin    8.0      no
j      Jonas   19.0     yes
0     Suresh   15.5     yes

        name  score qualify  Success
a  Anastasia   12.5     yes        1
b       Dima    9.0      no        0
c  Katherine   16.5     yes        1
e      Emily    9.0      no        0
f    Michael   20.0     yes        1
g    Matthew   14.5     yes        1
i      Kevin    8.0      no        0
j      Jonas   19.0     yes        1
0     Suresh   15.5     yes        1